{% extends 'base.html' %}

{% block title %}pycs/classes{% endblock %}

{% block content %}
<div class="container">
    <div class="container--surface ass-list">
        {% for class in classes %}
        <div class="ass-list__ass">
            <div class="">
                <div class="ass__name">
                    <a class="ass_name__link" href="{{ url_for('.app_index', class_id=class.id) }}">{{ class.course_code }}</a>
                </div>
                <div class="ass__due">Sem: {{ class.sem }}, {{ class.year }}</div>
            </div>
        </div>
        {% if not loop.last %}
        <hr class="surface-divider">
        {% endif %}
        {% endfor %}
        </div>
</div>
{% endblock %}
