{% extends 'base.html' %}
{% from '_formhelpers.html' import render_field, render_file_input, render_submit, render_checkbox, render_errors %}

{% block title %}pycs/teacher/import{% endblock %}

{% block content %}
<div class="bg-nord-4 dark:bg-nord-1 shadow-lg p-8 rounded-md">
    {{ render_errors(form.errors) }}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.marks) }}
        {{ render_submit(form.submit) }}
    </form>
</div>
{% endblock %}
