{% extends 'base.html' %}
{% from '_lists.html' import render_list_item, render_list_sep %}

{% block title %}pycs/teacher/student{% endblock %}
{% block studname %} -- {{user.first_name}}{% endblock %}

{% block content %}
<h2 class="text-2xl text-right text-nord-14 mb-4">{{ student_avg }}%</h2>
{% for unit, assignments in assignments.items() %}
<h1 class="text-2xl my-4">{{ unit }}</h1>
<div class="bg-nord-4 dark:bg-nord-1 shadow-lg p-8 rounded-md flex flex-col gap-8">
    {% for a in assignments %}
        {{ render_list_item(
            title=a.name, 
            title_url=url_for('.view_student_assignment', student_number=user.student_number, class_id=class_id, a_id=a.id),
            sub_title='Due: ' ~ a.due_date.strftime("%a %b %d, %Y @ %H:%M"), 
            score=' ' if a.score is none else a.score|string,
            total_points=a.total_points)
        }}
        {% if not loop.last %}
        {{ render_list_sep() }}
        {% endif %}
    {% endfor %}
</div>
{% endfor %}
{% endblock %}