{% extends 'base.html' %}
{% from '_lists.html' import render_list_item, render_list_sep %}

{% block title %}pycs/teacher/students{% endblock %}

{% block content %}
<div class="bg-nord-4 dark:bg-nord-1 shadow-lg p-8 rounded-md flex flex-col gap-8">
    {% if students|length == 0 %}
    <p>Oops... There are no students in pycs...</p>
    {% endif %}
    {% for student in students %}
        {{ render_list_item(
                title=student.first_name,
                title_url=url_for('.view_student', student_number=student.student_number, class_id=student.classes[0].id),
                sub_title=student.classes[0].course_code,
                score=student.assignment_associations|length
           )
        }}

        {% if not loop.last %}
        {{ render_list_sep() }}
        {% endif %}
    {% endfor %}
</div>
{% endblock %}


